spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  profiles:
    include: eth

  datasource:
    url: jdbc:mysql://localhost:3306/dockerby
    username: root
    password: ssafy
    driver-class-name: com.mysql.cj.jdbc.Driver

  #run과 동시에 data.sql 실행
  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true

jwt:
  header: Authorization
  #HS512 알고리즘을 사용할 것이기 때문에 512bit, 즉 64byte 이상의 secret key를 사용해야 한다.
  #echo 'silvernine-tech-spring-boot-jwt-tutorial-secret-silvernine-tech-spring-boot-jwt-tutorial-secret'|base64
  secret: c2lsdmVybmluZS10ZWNoLXNwcm
  token-validity-in-seconds: 86400

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace

uploadPath:
  path: "./fileData/"